
@{
    ViewData["Title"] = "inicio";
}

<h2>FESTA DE ANIVERSÁRIO</h2>
<hr/>
<p>O meu aniversário vai ser na próxima semana.</p>
<p>Agradeço se informar se vai estar presente ou não.</p>
<p>Para isso, clique <a asp-action="Formulario">AQUI</a></p>

